
@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

@layer components {
  .btn {
    @apply px-6 py-3 bg-green-500 text-white font-semibold rounded-lg shadow-md;
  }
}

:root {
  --background: #f8f6f6;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
